@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');

html body{
  font-size: 1.2rem;
  padding: 0px;
  margin: 0px;
  font-family: 'Courier New', monospace;
  text-transform: uppercase;
}

.main{
  display: flex;
  justify-content: center;
}

.side-hero {
  flex-grow: 1;
  position: relative;
  min-width: 345px;
  height: 100vh;
  background: url(sign-up.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.side-hero div {
  width: 100%;
  background-color: rgba(13, 66, 172, 0.299);
  line-height: 2rem;
  padding: 0px 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-hero img {
  width: 5rem;
  padding: 10px;
}

.form-section {

  display: flex;
  width: 60vw;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-grow: 2;
  background-color: #e0f2fe;

}

.input-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 3vw;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
  padding-top: 20px;
  padding-bottom: 30px;
}

.header, .submit-section {
  padding: 0px 2vw;
}

.header, .side-hero, .submit-section button{
  font-family: 'Courier New', monospace;
  font-weight: bold;
}
.header p {
  font-size: 22px;
}
form {
  display: flex;
  width: 60vw;
  flex-flow: row wrap;
  gap: 1rem;
  font-size: 1rem;
}

label {
  position: relative;
  width: 15rem;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover{
  color: #1d4ed8;
}
.submit-section {
  margin-top: 2rem;
}

button[type='submit'] {
  padding: .8rem 1.3rem;
  font-size: 1.3rem;
  background-color: #0ea5e9;
  border: none;
  border-radius: 10px;
  color: white;
  letter-spacing: -1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

button[type='submit']:hover {
  background-color: #0c4a6e;
}

input {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
  font-size: .9rem;
  margin-top: 3px;
}

input:focus {
  border: none;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
  outline: none;
}

input:invalid:focus {
  border: 2px solid rgb(255, 69, 100)
}

input:focus:valid {
  border: rgb(0, 183, 255) 2px solid;
}

.error {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: .7rem;
  color: rgb(255, 69, 100);
  position: absolute;
}
